{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

<div>
    <h1>What to see today?</h1>

    <main>
      <p>
        There are two steps to go through to find interesting nearby places:
      </p>
      <ol>
        <li id="step1">
          Detect your current location:
          <button id="step1-button">
            Find Me
          </button>
          <p id="step1-result"></p>
        </li>
        <li id="step2">
          Given your location, finding nearby places:
          <button id="step2-button">
            Find Nearby places
          </button>
          <ul id="step2-result"></ul>
        </li>
      </ol>
    </main>

</div>
{% endblock %}
